body {
	background-color: #0F0F0F;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*
 * MAIN
 */
.titleText {
	font-family: sans-serif;
	font-size: 12px;
}
.smallText {
	color: #B3B3B3;
	font-family: sans-serif;
	font-size: 10px;
}
#container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
}
#canvas {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}
#emuzelogo {
	width: 64px;
	height: 64px;
	position: absolute;
	margin-top: -32px;
	margin-left: -32px;
	top: 50%;
	left: 50%;
	z-index: 98;
}
#ringTitle {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 100;
}
/*
 * LOADING SCREEN
 */
#loadingScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: black;
	opacity: 1;
}
#loadingScreen #introducing {
	position: absolute;
	width: 380px;
	height: 260px;
	border-left: solid 5px #9E41C3;
	background-color: #222;
	text-align: left;
	color: white;
	padding: 10px;
	left: 15px;
	top: 110px;
}
#loadingScreen .purpleText {
	margin-left: 4px;
	margin-right: 4px;
	color: #9E41C3;
}
#loadingScreen #loadingBar {
	position: absolute;
	left: 15px;
	top: 410px;
	z-index: 98;
	width: 250px;
	height: 26px;
	border-left: solid 5px #fff;
	background-color: #281031;
	text-align: center;
	padding-top: 6px;
	cursor: pointer;
	color: #B3B3B3;
}
#loadingBar .begin {
	cursor: pointer;
}
#loadingBar .begin:active {
	color: #9E41C3;
	background-color: white;
}
#loadingBar #loadedArea {
	width: 0%;
	height: 100%;
	position: absolute;
	background-color: #4F2162;
	left: 0px;
	top: 0px;
	z-index: 1;
}
#loadingBar #loadingText {
	padding: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	color: white;
	text-align: center;
	z-index: 10000;
}
/*
 * CONTROLS
 */
#controls {
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 15px;
	top: 155px;
	width: 0px;
	height: 0px;
	max-width: 380px;
	max-height: 580px;
	overflow: hidden;
	opacity: 0.7;
	z-index: 98;
}
#revealButton {
	position: absolute;
	left: 15px;
	top: 110px;
	z-index: 98;
	width: 126px;
	height: 26px;
	border-left: solid 5px #fff;
	background-color: #4F2162;
	text-align: center;
	padding-top: 6px;
	cursor: pointer;
	color: #B3B3B3;
}
#visitEmuze {
	position: absolute;
	left: 15px;
	top: 156px;
	z-index: 101;
	width: 126px;
	height: 26px;
	border-left: solid 5px #fff;
	background-color: #4F2162;
	text-align: center;
	padding-top: 6px;
	cursor: pointer;
	color: #B3B3B3;
}
/*
 * DATA DISPLAY
 */
#controls #dataDisplay {
	position: relative;
	height: 65px;
	border-left: solid 5px #9E41C3;
	background-color: #222;
	text-align: left;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
	text-transform: uppercase;
}
#dataDisplay .purpleText {
	margin-left: 4px;
	margin-right: 4px;
	color: #9E41C3;
}
#visiblePosts {
	margin-left: 0px !important;
}
/*
 * TAGS
 */
#tags {
	position: relative;
	overflow: auto;
	margin-top: 15px;
	padding-bottom: 5px;
	border-left: solid 5px #9E41C3;
	background-color: #222;
}
#tags #title {
	padding: 10px;
	color: white;
}
#tagsList {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	min-height: 100px;
}
.tag {
	width: 49%;
	float: left;
	height: 20px;
}
.tag .artist {
	color: white;
	font-family: sans-serif;
	font-size: 10px;
	margin-top: 2px;
	vertical-align: middle;
}
.tag .checkbox {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	margin-left: 10px;
	float: left;
}
/*
 * DATE PICKER
 */

.ui-slider-horizontal {
	height: 2px !important;
	border: 0px !important;
	background-color: white;
}
.ui-slider-range {
	/*
	 height: 2px !important;
	 border: 0px !important;
	 background-color: red;
	 */
}
.ui-slider-handle {
	width: 32px !important;
	height: 32px !important;
	margin-top: -11px;
	background-image: url("../images/Selected_Purple.png") !important;
	background-color: rgba(1, 1, 1, 0) !important;
	border: 0px !important;
}
.datePicker {
	position: relative;
	overflow: auto;
	margin-top: 15px;
	padding-bottom: 5px;
	border-left: solid 5px #9E41C3;
	background-color: #222;
	height: 70px;
}
.datePicker #title {
	padding: 10px;
	color: white;
}
.datePicker #slider {
	position: absolute;
	left: 10%;
	top: 45px;
	width: 80%;
}
.datePicker .dot {
	position: absolute;
	top: 0px;
	width: 6px;
	height: 6px;
	top: -2px;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.datePicker #range {
	position: absolute;
	background-color: #9E41C3;
	height: 2px;
	top: 0px;
	z-index: 101;
}
.datePicker .date {
	position: absolute;
	top: 16px;
	left: 0px;
	color: white;
	font-family: sans-serif;
	font-size: 9px;
	text-align: left;
	margin-left: -3px;
}
/*
 * REBLOG LEVEL
 */
.reblogLevel {
	position: relative;
	margin-top: 15px;
	padding-bottom: 5px;
	border-left: solid 5px #9E41C3;
	background-color: #222;
	height: 75px;
}
.reblogLevel #title {
	padding: 10px;
	color: white;
}
.reblogLevel #slider {
	position: absolute;
	left: 10%;
	top: 45px;
	width: 80%;
}
.reblogLevel #range {
	position: absolute;
	background-color: #9E41C3;
	height: 2px;
	top: 0px;
	z-index: 101;
}
.reblogLevel .dot {
	position: absolute;
	top: 0px;
	width: 6px;
	height: 6px;
	top: -2px;
	background-color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.reblogLevel #notes {
	position: absolute;
	width: 100%;
	height: 20px;
	left: 5%;
	top: 60px;
	width: 90%;
	color: white;
	font-family: sans-serif;
	font-size: 8px;
}
.reblogLevel #notes #primary {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
}
.reblogLevel #notes #reblogs {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
}
.reblogLevel #notes #reblogreblogs {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: right;
}
/*
 * SEARCH
 */
.ui-autocomplete {
	font-size: 12px !important;
	width: 230px;
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	z-index: 1000 !important;
}
.search {
	position: relative;
	margin-top: 15px;
	padding-bottom: 5px;
	border-left: solid 5px #9E41C3;
	background-color: #222;
	height: 75px;
	overflow: hidden;
}
.search #title {
	padding: 10px;
	color: white;
}
.search #search {
	width: 230px;
	color: black;
	position: absolute;
	height: 20px;
	width: 240px;
	color: black;
	left: 10px;
	top: 40px;
}
.search #button {
	position: absolute;
	height: 20px;
	width: 90px;
	color: white;
	left: 270px;
	top: 40px;
	padding-top: 6px;
	text-align: center;
	background-color: #9E41C3;
	cursor: pointer;
}
.search #button:active {
	color: #9E41C3;
	background-color: white;
}
/*
 * LOADING
 */
#controls #loading {
	position: fixed;
	right: 50px;
	top: 50px;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
}
/*
 * POST
 */
.post {
	position: absolute;
	width: 250px;
	height: 250px;
	border: solid 1px white;
	background-color: black;
	z-index: 1000;
}
.post #title {
	position: absolute;
	color: white;
	font-family: sans-serif;
	font-size: 12px;
	left: 0px;
	top: 0px;
	width: 100%;
	text-align: center;
}
.post #text {
	position: absolute;
	color: white;
	font-family: sans-serif;
	font-size: 12px;
	left: 0px;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
.post #photo {
	position: absolute;
	left: 10px;
	top: 15px;
	width: 220px;
}
.post #notes {
	position: absolute;
	color: white;
	font-family: sans-serif;
	font-size: 12px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	text-align: center;
}
